@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


 .cost_sanity_check_page {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* 確保佔滿整個視口高度 */
    width: 100vw;   /* 確保佔滿整個視口寬度 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .title_zone {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Jockey One';
    font-size: 4.5em;
    color: black;
    font-weight: 400;
    background-color: #EBDEBE;
  }

  .function_zone {
    flex: 0 0 80%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center; /* 垂直方向上居中對齊 */
    background-color: #EBDEBE;
  }

  .upload_file_zone{
    height: 100%;
    width: 25%;
    background-color: #0e8b94;
    display: flex;
    flex-direction: column; /* 讓子元素垂直排列 */
    
    outline: 4px solid #0d0d0e; /* 使用 outline 來設置有顏色的邊框 */
    outline-offset: -10px; /* 設置 outline 與邊框之間的距離，使其內縮 */
    
  }
  
  .function_choose_plus_result_zone{
    height: 100%;
    width: 75%;
    background-color: #7b0f49;
  }
  .upload_file_zone_title{
    width: 100%;
    height: 10%;
    background-color: #EBDEBE;
    align-items: center; /* 垂直方向上居中對齊 */
    justify-content: center;
    display: flex;
    font-size: 2em;
    font-family: 'Jockey One';
    color: #010101;


  }

  .bom_btn_zone, .mspeke_btn_zone, .hard_qual_matrix_btn_zone, .delete_zone, .upload_zone{
    background-color: #EBDEBE;
    width: 100%;
    height: 18%; 
    display: flex;
    align-items: center; /* 垂直方向上居中對齊 */
    justify-content: center;

  }
  .bom_btn, .mspeke_btn, .hard_qual_matrix_btn, .delete_btn, .upload_btn{
    
    background-color: #b0aeae;
    border-radius: 70px;
    width: 80%;
    height: 60%;
    font-family: 'Jockey One';
    font-size: 1.5em;
    color: black;
    font-weight: 400;
  }